---

---

<footer
  id="page-footer"
  class="w-full bg-neutral-900 py-4 md:py-4 opacity-0 transition-opacity duration-500"
>
  <div class="container mx-auto px-4 mt-4">
    <div class="flex flex-col items-center justify-center text-center gap-1">
      <!-- First Line -->
      <p class="text-white text-xs md:text-sm font-medium">
        © {new Date().getFullYear()} | Z2 Locações LTDA | Todos Direitos Reservados
      </p>

      <!-- Second Line -->
      <p class="text-white text-xs md:text-sm font-light">
        Desenvolvido por: SPACE 125 & <a
          href="https://atavares.com"
          class="hover:text-amber-400 transition-colors delay-150 cursor-pointer"
        >
          atavares
        </a>
      </p>
    </div>
  </div>
</footer>
